{% extends 'base.html' %}

{% block content %}
<blockquote class="blockquote text-center">
  <p class="mb-0">
  Like books, sports give people a sense of having lived other lives, of taking part in other 
  people's victories. And defeats. When sports is at it's best, the spirit of the fan merges with 
  the spirit of the player.
  </p>
  <footer class="blockquote-footer">Phil Knight(Nike Founder)<cite title="Source Title">Shoe Dog</cite></footer>
</blockquote>
<p>
Hi, I’m Deepak, a football enthusiast from Naranipuzha, Malappuram, Kerala. I'm currently working as a software engineer in Bengaluru, India.
I run <a href="http://www.tactification.com">Tactification </a> to relive moments, stories, records and trivia's from the world’s most beloved sport.
</p>
{% endblock %}
